<a href="https://colab.research.google.com/github/Viado03/CPEN21A-1-2-BSCPE/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###For Loop

In [1]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Sunday"]

for x in week :
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Sunday

###The Break Statement

In [5]:
for x in week :
  if x=="Wednesday" :
    break
  print(x)

Sunday
Monday
Tuesday

In [13]:
for x in week :
  print(x)
  if x=="Friday" :
    break

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday

###Looping Through String

In [15]:
for x in "Python loves you" :
  print(x)

P
y
t
h
o
n

l
o
v
e
s

y
o
u

###The Range Function

In [18]:
for x in range(15) :
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

###Nested Loops

In [23]:
adjective = ["nice", "cool", "awesome"]
computer = ["keyboard", "monitor", "headset"]

for x in adjective:
  for y in computer:
    print(x,y)

nice keyboard
nice monitor
nice headset
cool keyboard
cool monitor
cool headset
awesome keyboard
awesome monitor
awesome headset

###While Loops

In [26]:
i = 10 
while i>6 :
  print(i)
  i-=1 #For subraction, i= i-1

10
9
8
7

###The continue statement

In [28]:
i = 10
while i>6 :
  i=i-1
  if i==9 :
    continue
  print(i)

8
7
6

###The Break Statement

In [29]:
i = 10
while i>5:
  print(i)
  if i==7:
    break
  i-=1

10
9
8
7

###The Else statement

In [30]:
i = 10
while i>5:
  i=i-1
  print(i)
else:
  print("i is no longer greater than 5")

9
8
7
6
5
i is no longer greater than 5

###Application 1

In [31]:
a = ["Value"]
b = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10"]
for x in a:
  for y in b:
    print(x,y)      #For loop

Value 0
Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10

In [33]:
b = -1
c = "Value"
while b<15:
  b+=1
  print(c, b)
  if b==10:
    break #While loop

Value 0
Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10

###Application 2

In [36]:
i = 25
while i>2:
  i-=1
  print(i)
  if i==4:
    break
#else:
    #print ("i is no longer greater than 3")

24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4